{% extends 'base.html.twig' %}

{% block title %}Scanform{% endblock %}

{% block body %}
    <h1>Scanform</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scanform.id }}</td>
            </tr>
            <tr>
                <th>File_path</th>
                <td>{{ scanform.filePath }}</td>
            </tr>
            <tr>
                <th>File_name</th>
                <td>{{ scanform.fileName }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ scanform.createdAt ? scanform.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scanform_index') }}">back to list</a>

    <a href="{{ path('app_scanform_edit', {'id': scanform.id}) }}">edit</a>

    {{ include('scanform/_delete_form.html.twig') }}
{% endblock %}
