{% extends 'base.html.twig' %}

{% block title %}Scandoc{% endblock %}

{% block body %}
    <h1>Scandoc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scandoc.id }}</td>
            </tr>
            <tr>
                <th>File_path</th>
                <td>{{ scandoc.filePath }}</td>
            </tr>
            <tr>
                <th>File_name</th>
                <td>{{ scandoc.fileName }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ scandoc.createdAt ? scandoc.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scandoc_index') }}">back to list</a>

    <a href="{{ path('app_scandoc_edit', {'id': scandoc.id}) }}">edit</a>

    {{ include('scandoc/_delete_form.html.twig') }}
{% endblock %}
